@charset "UTF-8";

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    overflow: auto;
}

.wrapper {
    width: 100%;
}